<% provide(:title, "About") %>

<!DOCTYPE html>
<html>
  <head>
  </head>
  <body >
      <div class="card orange lighten-1">
        <div class="card-content white-text">
          <div class="center jumbotron">
            <h1>About</h1>
            <p>Find me in app/views/static_pages/about.html.erb</p>
          </div>
        </div>
      </div>

      <div class="card orange lighten-1">
      <div class="card-content white-text">
        <div>
          <h4>The application</h4>
        </div>
      </div>
      </div>
      <div class="card orange lighten-1">
      <div class="card-content white-text">
        <div>
          <h4>About us</h4>
        </div>
      </div>
      </div>
  </body>
</html>
