<% provide(:title, "About") %>

<!DOCTYPE html>
<html>
  <head>
  </head>
  <body >
      <div class="card grey darken-1">
        <div class="card-content white-text">
          <div class="center jumbotron">
            <h1>About</h1>
          </div>
        </div>
      </div>

      <div class="card grey darken-1">
      <div class="card-content white-text">
        <div>
          <h4>Ons doel</h4>
          <p> Het doel van deze applicatie is dat kinderen en ouderen meer buiten komen op openbare speeltuinen of speelruimtes.
          De speeltuinen en speelruimtes die door ons geviseerd worden liggen rond en in Brugge. 
          Wij proberen dit op een zo interessant mogelijke manier naar voor te brengen met interactie tussen mens en technologie.
          Deze interactie zal ervoor zorgen dat kinderen en ouderen niet op één speeltuin moeten blijven, 
          er zullen dus meerdere speeltuinen bezocht moeten worden, zodat kinderen en ouderen meer bewegen.</p>
        </div>
      </div>
      </div>
      <div class="card grey darken-1">
      <div class="card-content white-text">
        <div>
          <h4>About us</h4>
          <p>Het team van de Hogeschool VIVES Brugge die deze applicatie gerealiseerd heeft: </p>
          <br>
          <div class ="row">
            <div class="col s4">
                <img id="foto" src="/assets/Team/Alex.jpg" /> 
                <p>Alex Vancoillie</p>
                <p>Vives student ICT</p>
            </div>
            <div class="col s4">
                <img id="foto" src="/assets/Team/Donovan.jpg" /> 
                <p>Donovan Baillieu</p>
                <p>Vives student ICT</p>
            </div>
            <div class="col s4">
                <img id="foto" src="/assets/Team/Jasper.jpg" /> 
                <p>Jasper Vercnocke</p>
                <p>Vives student ICT</p>
            </div>
          </div>
          <div class ="row">
            <div class="col s4">
                <img id="foto" src="/assets/Team/Sander.jpg" />
                <p>Sander Jansen</p>
                <p>Vives student ICT</p>
            </div>
            <div class="col s4">
                <img id="foto" src="/assets/Team/Sille.jpg" /> 
                <p>Sille Van Landschoot</p>
                <p>Vives Docent ICT</p>
            </div>
            <div class="col s4">
                <img id="foto" src="/assets/Team/Pieter.jpg" /> 
                <p>Pieter Hap</p>
                <p>Vives student ICT</p>
            </div>
            </div>
        </div>
      </div>
      </div>
  </body>
</html>
