<% provide(:title, "About") %>

<!DOCTYPE html>
<html>
  <head>
  </head>
  <body >
      <div class="card orange lighten-1">
        <div class="card-content white-text">
          <div class="center jumbotron">
            <h1>About</h1>
          </div>
        </div>
      </div>

      <div class="card orange lighten-1">
      <div class="card-content white-text">
        <div>
          <h4>Ons doel</h4>
          <p> Het doel van deze applicatie is dat kinderen en ouderen meer buiten komen op openbare speeltuinen of speelruimtes.
          De speeltuinen en speelruimtes die door ons geviseerd worden liggen rond en in Brugge. 
          Wij proberen dit op een zo interessant mogelijke manier naar voren te brengen met interactie tussen mens en technologie.
          Deze interactie zal ervoor zorgen dat kinderen en ouderen niet op één speeltuin moeten blijven, 
          er zullen dus meerdere speeltuinen bezocht moeten worden, zodat kinderen en ouderen meer bewegen.</p>
        </div>
      </div>
      </div>
      <div class="card orange lighten-1">
      <div class="card-content white-text">
        <div>
          <h4>About us</h4>
        </div>
      </div>
      </div>
  </body>
</html>
