<% provide(:title, "Info") %>


      <div class="card orange lighten-1">
        <div class="card-content white-text">
          <div class="center jumbotron">
            <h1>Info</h1>
            <p>Dit is de info pagina</p>
            <p>Lees de FAQ sectie bij problemen of vragen over de werking van de applicatie. </p>
          </div>
        </div>
      </div>

      <div class="card orange lighten-1">
      <div class="card-content white-text">
        <div>
          <h4>FAQ</h4>
        </div>
      </div>
      </div>
      <div class="card orange lighten-1">
      <div class="card-content white-text">
        <div>
          <h4>Contact</h4>
        </div>
      </div>
      </div>
