<% provide(:title, "Help") %>

<!DOCTYPE html>
<html>
  <head>
  </head>
  <body >
      <div class="card red red darken-1">
        <div class="card-content white-text">
          <div class="center jumbotron">
            <h1>Help</h1>
            <p>Dit is de help pagina</p>
            <p>Lees de FAQ sectie bij problemen of vragen over de werking van de applicatie. </p>
          </div>
        </div>
      </div>

      <div class="card red red darken-1">
      <div class="card-content white-text">
        <div>
          <h4>FAQ</h4>
        </div>
      </div>
      </div>
      <div class="card red red darken-1">
      <div class="card-content white-text">
        <div>
          <h4>Contact</h4>
        </div>
      </div>
      </div>
  </body>
</html>