<% provide(:title, "Ludejo") %>


<div class="row card grey monster-types">
    <div class="card-content">
        <h2><b>Happy monsters</b></h2>
        <% @happy_monsters.each do |monster| %>
            <%= render partial: "monsters/monster_card", locals: {monster: monster}  %>
        <% end %>
    </div>
</div>


<div class="row card grey monster-types">
    <div class="card-content">
        <h2><b>Sad monster</b></h2>
        <% @sad_monsters.each do |monster| %>
            <%= render partial: "monsters/monster_card", locals: {monster: monster}  %> 
        <% end %>
    </div>
</div>
    

