// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html {
    height: 100%;
}

div.container{
    height: 100%;
}

#map { 
    height: 100%; 
    min-height: 100px;
    width: 100%;
    z-index: -10;
}

#detail_map{ height: 450px; }

